.carousel{
  width: 100vw;
  height: 100%;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  z-index: 2
}
.carousel::-webkit-scrollbar{
  height: 0;
  width: 0;
}
.carousel::-webkit-scrollbar-track{
  background: rgba(211, 211, 211, .6);
  border-radius: 0;
}
.carousel::-webkit-scrollbar-thumb{
  background: rgba(99, 99, 99, 0.8);
  border-radius: 0;
}

@media screen and (max-width: 767px){
.carousel{
  margin: auto;
  width: 100%;
  top: 0;
}}