.frame-container{
  width: 100vw;
  height: 100%;
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  bottom: 12px;
}
.event-frame{
  width: 100vw;
  height: 100%;
  bottom: auto;
}
.invitation-frame{
  height: 100%;
  width: 100%;
}
.frame-corner{
  width: auto;
  height: 100%;
/*   padding: 10px; */
  box-sizing: border-box;
}
.corner-event-frame{
  width: auto;
  height: 100%;
  margin: 0;
  padding: 10px;
}
.corner-invitation-frame{
  width: auto;
  height: 100%;
  margin: 0;
  padding: 10px;
}
.top-left{
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: start;
  top: 0;
  left: 0;
}
.top-right{
  grid-column: 3/4;
  grid-row: 1/2;
  top: 0;
  right: 0;
  justify-self: flex-end;
}
.bottom-left{
  grid-column: 1/2;
  grid-row: 4/3;
  bottom: 0;
  left: 0;
  align-self: flex-end;
  justify-self: start;
}
.bottom-right{
  grid-column: 3/4;
  grid-row: 3/4;
  bottom: 0;
  right: 0;
  align-self: flex-end;
  justify-self: flex-end;
}

@media screen and (max-width: 769px){
  .frame-container{
    bottom: 0;
  }
  .frame-corner{
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 426px){
  .frame-container{
    grid-template-columns: 1fr 1fr;
  }
  .top-right{
    grid-column: 2/3;
  }
  .bottom-right{
    grid-column: 2/3;
  }
}

.frameApear{
  display: grid;
  animation-name: frameApear;
  animation-duration: 2s;
}
@keyframes frameApear {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}