.hero{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: auto;
  text-align: center;
  background: #002766;
  width: 100%;
  overflow: hidden;
  white-space: pre-line;
}
.hero-text-container{
  font-family: Ephesis,cursive;
  font-size: 4em;
  height: 100%;
  position: absolute;
  width: 100%;
  text-align: center;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #E6E6E6;
  z-index: 1;
  padding: 10px;
  box-sizing: border-box;
}
.hero-text{
  margin: 0 0 15px 0;
}
.hero-img{
  width: auto;
  height: 100%;
}

@media screen and (max-width: 767px){
  .hero{
    height: fit-content;
  }
  .hero-text-container{
    font-size: 2.5em;
  }
}

.apear{
  animation-name: apear;
  animation-duration: 2s;
}
@keyframes apear {
  from {
    transform: scale(0.9);
    opacity: 0
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}