
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100%;
  background-color: #E6E6E6;
}
#app{
  height: 100vh;
  width: 100%;
  background-color: #E6E6E6;
}
.home{
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.home::-webkit-scrollbar{
  height: 0;
  width: 0;
}


@media screen and (max-width: 767px){
/*   body{
    height: auto;
  } */
/*   #app{
    height: auto;
    overflow: scroll;
  } */
  .home{
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto;
  }
}