.personal-invitation{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: auto;
  background: #002766;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.ticket-main-text{
  font-size: 2.5em;
  line-height: 1em;
  margin: 5px auto;
  font-family: 'Ephesis', cursive;
  display: none;
  vertical-align: middle;
  max-width: 70%;
  justify-content: center;
  color: #E6E6E6;
  font-weight: 200;
}
.ticket-secondary-text{
  font-size: 1.5em;
  margin: 5px auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  display: none;
  vertical-align: middle;
  width: 75%;
  padding: 10px 0px;
  box-sizing: border-box;
  color: #E6E6E6;
}
.ticket{
  margin: auto;
  width: 100%;
  justify-content: center;
  white-space: pre-line;
  display: none;
  grid-template-columns: 100%;
  max-height: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
  padding: 30px 0;
}
.ticket-deco{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.ticket-left-cover{
  width: 100%;
  height: 100%;
  background: #002d75;
  display: none;
}
.ticket-right-cover{
  width: 100%;
  height: 100%;
  background: #002d75;
  display: none;
}
.ticket-stamp{
  position: absolute;
  text-align: center;
  margin: auto;
  justify-content: center;
  display: flex;
  height: 50%;
  opacity: 0;
  left: 25vw;
  top: 25vh;
}
@media screen and (max-width: 769px){
  .ticket-main-text{
    font-size: 2.2em;
  }
  .ticket-secondary-text{
    font-size: 1.1em;
    padding: 10px 0px;
  }
  .ticket-stamp{
    position: absolute;
    text-align: center;
    margin: auto;
    justify-content: center;
    display: flex;
    width: 50%;
    opacity: 0;
  }
}
@media screen and (max-width: 600px){
  .ticket-secondary-text{
    padding: 5px 0px;

  }
}
@media screen and (max-width: 321px){
  .ticket-secondary-text{
    padding: 5px 0px;
  }
}


.desapear{
  animation-name: desapear;
  animation-duration: 2s;
}
@keyframes desapear {
  from {opacity: 1;}
  to {opacity: 0;}
}

.resize-left{
  width: 0;
  animation-name: resizeLeftCover;
  animation-duration: 2s;
}
@keyframes resizeLeftCover {
  from {width: 100%;}
  to {width: 0px;}
}

.resize-right{
  margin-left: 100%;
  animation-name: resizeRightCover;
  animation-duration: 2s;
}
@keyframes resizeRightCover {
  from {margin-left: 0;}
  to {margin-left: 100%;}
}

.invitationFadeUp{
  animation-name: invitationFadeUp;
  animation-duration: 2s;
}
@keyframes invitationFadeUp {
  from {
    display: none;
    opacity: 0;
    margin-top: 100px;
  }
  to {
    opacity: 1;
    margin-top: 5px;
  }
}
