.photo-container{
  width: auto;
  display: inline-flex;
  max-height: 100%;
  margin: auto;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative
}
.photo{
  width: auto;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, .2);
  
}

.photoOne-container{
  width: auto;
  display: inline-flex;
  margin: auto;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.photoOne{
  filter: brightness(.7);
  z-index: 0;
  height: auto;
  width: 100%;
}
.photoTwo-container {
  width: auto;
  height: 100%;
}
.photoSix-container{
  width: 70%;
}
.photoTen-container{
  width: auto;
  height: 100%;
  display: flex;
}
.photoTwo, .photoEight{
  width: auto;
}
.photoEight-container{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photoNine-container, .photoTen-container, .photoEleven-container, .photoTwelve-container, .photoFourteen-container, .photoThirteen-container, .photoFifteen-container{
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  width: 100vw;
  transform: scale(1.2);
}
.photoNine, .photoTen, .photoEleven, .photoTwelve, .photoThirteen, .photoFourteen, .photoFifteen{
  height: 100%;
  width: auto;
}


@media screen and (max-width: 769px){
  .photoOne-container, .photoSeven-container{
    border-radius: 0;
    height: 100vh;
    margin: 0;
  }
  .photoOne, .photoSeven{
    height: 100%;
    width: auto;
  }
}

@media screen and (max-width: 426px){
  .photoNine-container, .photoTen-container, .photoEleven-container, .photoFourteen-container, .photoThirteen-container{
    display: flex;
    height: 100vh;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(1);
  }
  .photo-container{
    width: 100%;
    display: inline-flex;
    height: fit-content;
    margin: 0;
  }
  .photo{
    max-width: 960px;
    width: 100%;
    height: auto;
    margin: auto;
  }
  .photoTwelve-container, .photoFifteen-container, .photoThree-container{
    width: 100%;
    height: 100%;
  }
  .photoTwelve, .photoFifteen, .photoThree{
    width: 100%;
    height: auto;
  }
  .photoTwo-container, .photoSix-container, .photoSeven-container, .photoEight-container{
    height: 100%;
  }
  .photoTwo, .photoSix, .photoSeven, .photoEight{
    height: 100%;
    width: auto;
  }
  .photoTen{
    margin: 0
  }
}