.buttons-container{
  height: auto;
  width: 100vw;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100%;
  bottom: 10px;
  z-index: 2;
}

.button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin: auto;
  display: flex;
  background-color: rgba(131, 131, 131, 0.5);
  border: none;
}

.button-scroll-forward{
  grid-column: 4/4;
}
.button-scroll-backward{
  grid-column: 1/2;
}