.submit-container{
  height: fit-content;
  min-height: 110px;
  width: 80%;
  margin: 5px auto;
  border-radius: 20px;
  background-color: #6dc66d;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: center;
}
.submit-message{
  text-align: center;
  margin: 0 100px;
  font-size: 1.2em;
}

@media screen and (max-width: 620px){
  .submit-message{
    margin: 5px 15px;
    font-size: 1.1em;
  }
}